<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <!-- Linking the CSS file -->
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <!-- Your HTML content here -->
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="main">
        <h1><%= status %></h1>
        <p><%= message %></p>
        <button id="gobackBtn" type="button">Go back</button>
    </div>

    <!-- JavaScript to handle button click -->
    <script>
        document.getElementById('gobackBtn').addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>
</body>
</html>
