<!DOCTYPE html>
<html lang="vi" xmlnd="https://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>User Lavender</title>

    <!-- The website stylesheet -->
    <link rel="stylesheet" href="/css/pageUser.css" />

    <!-- The website JavaScript file -->
    <script src="/js/pages/pageUser.js" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
<!-- ---------------------------------------header------------------------------------------------- -->
    <header>
        <div class="logo"> 
            <img width="200"  src="/image/logo4.png" onclick="logo()"/>
        </div>
        <div class="menu">
            <li><a href="/user">TRANG CHỦ</a>
            </li>
            <li><a href="/user/giaohang">GIAO HÀNG</a>
            </li>
            <li><a href="/user/dichuyen">DI CHUYỂN</a></li>
            <li><a href="/user/order">ĐƠN HÀNG</a></li>
        </div>
        </div>
        <div class="others">
            <li><input type="text" placeholder="  Tìm kiếm"><i class="fa fa-search"></i></li>
            <li><a class='bx bxs-shopping-bag-alt' href=""></a></li>
            <li><a class="fa fa-user" href=""></a></li>
        </div>
    </header>
<!-- ---------------------------------------header------------------------------------------------- -->
    <section id="SlideFr">
        <div class="aspect-ratio-169">
            <img src="/image/leve4.jpg"/>
            <img src="/image/hehe2.jpg"/>
            <img src="/image/hehe1.jpg"/>
            <div id="banner">
                <button class="butter"><a href="/user/order">Vận chuyển ngay</a></button>
            </div>
        </div>
        <div class="dot-container">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </section>    

    <!-- <section>
        <div id="wp-product">
            <div class="items">
                <img src="image/car1.jpg" alt=""/>
            </div>
        </div>

    </section> -->
    <!-- <div class="box-left">
        <h1>
            <span>GIAO HÀNG</span>
            <br>
            <span>CHẤT LƯỢNG</span>
        </h1>
    </div>
    <p> Lavender cung cấp các dịch vụ giao hàng nhanh chóng, an toàn và đáng tin cậy. 
        Từ gửi hàng nhỏ lẻ đến vận chuyển hàng lớn, chúng tôi luôn sẵn lòng đảm nhận 
        và chuyển phát hàng hóa của bạn một cách chính xác và kịp thời.</p> -->
<!-- ---------------------------------------Slide------------------------------------------------- -->
    <!-- <section id="SlideFr">
        <div class="aspect-ratio-169">
            <img src="image/slide1.jpg"/>
            <img src="image/sl1.jpg"/>
            <img src="image/sl11.jpg"/>
            <img src="image/sl4.jpg"/>
            <img src="image/sl5.jpg"/>
            <img src="image/sl6.jpg"/>
            <img src="image/sl7.jpg"/>
        </div>
        <div class="dot-container">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </section> -->
<!-- ---------------------------------------Slide------------------------------------------------- -->

<!-- ---------------------------------------contact------------------------------------------------- -->
    <section class="contact-container">
        <h2>Tại sao nên sử dụng dịch vụ Lavender Delivery để Giao Hàng?</h2>
        <div class="about">
            <div id="content">
                <li><a class="bx bxs-wallet" href="" ></a>
                </li>
                <h1>Chi phí hợp lí <br>
                    <p>Giá tiền cuốc xe hiển thị ngay trên website, 
                    bạn chỉ việc trả đúng số tiền này và an tâm món hàng 
                    sẽ đến tay người nhận trong thời gian sớm nhất.</p>
                </h1>
            </div>
        
            <div id="content">
                <li><a class="bx bxs-time" href=""></a>
                </li>
                <h1>Dịch vụ nhanh chóng <br>
                    <p>Giao và nhận kiện hàng của bạn chưa bao giờ nhanh và dễ dàng đến vậy. Chỉ trong vài cái chạm tay!</p>
                </h1>
            </div>
            <div id="content">
                <li><a class="bx bxs-check-shield" href=""></a>
                </li>
                <h1>An tâm tuyệt đối <br>
                    <p>Tài xế Lavender Delivery được đào tạo bài bản 
                    trong phong cách phục vụ và giao nhận an toàn.</p>
                </h1>
            </div>
        </div>
        <input type="text" placeholder="Nhập email của bạn...">

    </section>
<!-- ---------------------------------------Slide------------------------------------------------- -->

<!-- ---------------------------------------footer------------------------------------------------- -->
<section class="fot">
    <div class="footer-top">
        <li><a href=""></a>Liên hệ</li>
        <li><a href=""></a>Tuyển dụng</li>
        <li><a href=""></a>Giới thiệu</li>
        <li>
            <a href="" class="fa fa-facebook" href=""></a>
            <a href="" class="fa fa-twitter" href=""></a>
            <a href="" class="fa fa-youtube" href=""></a>
        </li>
    </div>

    <div class="footer-center">
        <p>
            Công ty trách nhiệm hữu hạn Lavender Project<br>
            Địa chỉ đăng kí: Đường Tạ Quang Bửu, Phường Linh Trung, Thủ Đức, Thành Phố Hồ Chí Minh <br>
            Tư vấn : <span>0934870910</span>
        </p>
    </div>

    <div class="footer-bottom">
        #LTNC Lavender Project
    </div>
</section>
<!-- ---------------------------------------footer------------------------------------------------- -->
  </body>

<!-- ---------------------------------------Script------------------------------------------------- -->
  <script>
    //
  </script>
<!-- ---------------------------------------Script------------------------------------------------- -->
</html>
