<div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-ddbbf16 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading" data-id="ddbbf16" data-element_type="widget" data-widget_type="theme-post-title.default">
<div class="elementor-widget-container">
<h1 class="elementor-heading-title elementor-size-default">Cam Kết của Lavender với khách hàng</h1>		</div>
</div>
<div class="elementor-element elementor-element-78f83f9 elementor-widget elementor-widget-post-info" data-id="78f83f9" data-element_type="widget" data-widget_type="post-info.default">
<div class="elementor-widget-container">
<link rel="stylesheet" href="https://vantaiphuoctan.vn/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">		<ul class="elementor-inline-items elementor-icon-list-items elementor-post-info">
            <li class="elementor-icon-list-item elementor-repeater-item-f8f584b elementor-inline-item">
                    <span class="elementor-icon-list-icon">
            <i aria-hidden="true" class="far fa-calendar-alt"></i>							</span>
                <span class="elementor-icon-list-text elementor-post-info__item elementor-post-info__item--type-custom">
                     Thứ Bảy, 12 Tháng Ba 2022 , 1:17 					</span>
            </li>
</ul>
</div>
</div>
<div class="elementor-element elementor-element-63dcb80 elementor-widget elementor-widget-theme-post-content" data-id="63dcb80" data-element_type="widget" id="content" data-widget_type="theme-post-content.default">
<div class="elementor-widget-container">
<h2>Dưới đây là những cam kết mà công ty TNHH Lavender gửi đến Quý Khách Hàng. Mong rằng sẽ giúp quý Khách Hàng hiểu thêm và càng tin tưởng hơn với dịch vụ của chúng tôi.</h2>
<p><span style="font-weight: 400;">▪️ Hỗ trợ tư vấn miễn phí 24/7.</span></p>
<p><span style="font-weight: 400;">▪️ Cam kết mức giá rẻ nhất nhì thị trường.</span></p>
<p><span style="font-weight: 400;">▪️ Cam kết bồi thường giá trị hàng hóa nếu lỗi từ phía chúng tôi.</span></p>
<p><span style="font-weight: 400;">▪️ Cam kết hỗ trợ giao nhận tận nơi miễn phí.</span></p>
<p><span style="font-weight: 400;">▪️ Cam kết giao nhận đúng thời hạn đã đề ra lúc ban đầu.&nbsp;</span></p>
<p><span style="font-weight: 400;">▪️ Cam kết quy trình, thủ tục đơn giản, hợp lý.</span></p>
<p><span style="font-weight: 400;">▪️ Cam kết cung cấp đầy đủ giấy tờ, chứng từ, biên bản, hợp đồng liên quan để khách hàng đối chứng.</span></p>
<p><span style="font-weight: 400;">▪️ Cam kết hỗ trợ đóng gói, bốc xếp, nâng đỡ hàng hóa miễn phí.</span></p>
<p><span style="font-weight: 400;">▪️ Dàn xe tải đa dạng với nhiều loại tải trọng từ 1 tấn, 1,5 tấn – 40 tấn. Bảo đảm cho việc gửi hàng an toàn, nhanh chóng.</span></p>
<p><span style="font-weight: 400;">▪️ Hỗ trợ thu cước cod miễn phí dùm khách.</span></p>
<p><span style="font-weight: 400;">▪️ Hình thức thanh toán tiền mặt, chuyển khoản hoặc công nợ.</span></p>
<p><span style="font-weight: 400;">Lavender Project cam kết luôn đặt chữ “ Tín” và&nbsp; “ Lợi ích ” của khách hàng lên hàng đầu, hỗ trợ mọi lúc khi quý khách có nhu cầu gửi hàng tại Phước Tấn.</span></p>
</div>
</div>
</div>