<!DOCTYPE html>
<html lang="vi" xmlnd="https://www.w3.org/1999/xhtml">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>ADD CAR</title>

    <!-- The website stylesheet -->
    <link rel="stylesheet" href="/css/addxe.css" />

    <!-- The website JavaScript file -->
    <script src="/js/pages/addxe.js" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  
  </head>

  <body>
      <div class="wrapper">
        <!-- <div id="error"></div> -->
        <form action="/admin/vehicles/<%= data %>/update" method="POST">
        <!-- <form action=""> -->
          <h1>UPDATE CAR</h1>
          <div class="input-box">
            <div class="ca1">
                <input id="ID" type="text" name="employeeID" placeholder="Mã số nhân viên" >
                <i id="sa" class='bx bxs-user'></i>
                <input id="name" type="text" name="numberPlate" placeholder="Biển số xe" required>
                <i id="sa2" class='bx bxs-user-circle'></i>
            </div>
          </div>
        

          <div class="input-box2">
        
           
        
          </div>
          <div class="input-box3">
            <label id="ge" for="NL" >Nhiên liệu : </label><br>
            <label id="ge3" for="Gas" >Gasoline</label>
            <input type="radio" id="Gas" name="fuelType"  value="Gasoline" required>
            <label id="ge4"for="Ele" >Electricity</label>
            <input type="radio" id="Ele" name="fuelType" value="Electricity" required>
            <label id="ge4"for="Die" >Diesel</label>
            <input type="radio" id="Die" name="fuelType" value="Diesel" required>
          </div>
         
          <div class="RS">
            <button type="reset" class="btn2">Reset</button>
            <!-- <input type="button" onclick="checkPassword()" class=" btn" value="Submit" /> -->
            <button type="submit" class="btn" >Submit</button>
          </div>
        
                      <!-- <div class="RS">
                        <button type="reset" class="btn2">Reset</button>
                        <button type="submit" class="btn" onclick="checkPassword">Submit</button>
                      
                      </div> -->
                      <!-- <button type="submit" class="btn">Submit
                        <a href="login.html" target="_self">Submit</a> -->
                        <!-- <a href="" >Submit</a> -->
                      <!-- </button> --> 
        </form>
      </div>
      <script>
        let bankImg=document.getElementById("img2");
        let inputImg2=document.getElementById("Bank");
        inputImg2.onchange = function(){
            bankImg.src =URL.createObjectURL(inputImg2.files[0]);
        }
      </script>
  </body>
<!-- ---------------------------------------footer------------------------------------------------- -->

</html>
