<!DOCTYPE html>
<html lang="vi" xmlnd="https://www.w3.org/1999/xhtml">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>ADD DRIVER</title>

    <!-- The website stylesheet -->
    <link rel="stylesheet" href="/css/adddr.css" />

    <!-- The website JavaScript file -->
    <script src="/js/pages/adddr.js" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  
  </head>

  <body>
      <div class="wrapper">
        <!-- <div id="error"></div> -->
        <form action="/admin/drivers/<%= data %>/update" method="POST">
        <!-- <form action=""> -->
          <h1>UPDATE DRIVER</h1>
          <div class="input-box">
            <div class="ca1">
                <input id="name" type="text" name="numberPlate" placeholder="Biển số xe được giao " required>
                <i id="sa2" class='bx bxs-user-circle'></i>
            </div>
          </div>
         
          <div class="RS">
            <button type="reset" class="btn2">Reset</button>
            <!-- <input type="button" onclick="checkPassword()" class=" btn" value="Submit" /> -->
            <button type="submit" class="btn" >Submit</button>
          </div>
        
                      <!-- <div class="RS">
                        <button type="reset" class="btn2">Reset</button>
                        <button type="submit" class="btn" onclick="checkPassword">Submit</button>
                      
                      </div> -->
                      <!-- <button type="submit" class="btn">Submit
                        <a href="login.html" target="_self">Submit</a> -->
                        <!-- <a href="" >Submit</a> -->
                      <!-- </button> --> 
        </form>
      </div>
      <script>
        let gplxImg=document.getElementById("img1");
        let inputImg=document.getElementById("GPLX");
        let bankImg=document.getElementById("img2");
        let inputImg2=document.getElementById("Bank");
        inputImg.onchange = function(){
            gplxImg.src =URL.createObjectURL(inputImg.files[0]);
        }
        inputImg2.onchange = function(){
            bankImg.src =URL.createObjectURL(inputImg2.files[0]);
        }
      </script>
  </body>
<!-- ---------------------------------------footer------------------------------------------------- -->

</html>
